<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-didomi" version="0.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Didomi</name>
    <js-module name="Didomi" src="www/Didomi.js">
        <clobbers target="navigator.didomi" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVDidomi">
                <param name="ios-package" value="CDVDidomi" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVDidomi.m" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Didomi-XCFramework" spec="1.56.1"/>
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <framework src="io.didomi.sdk:android:1.43.1" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CDVDidomi">
                <param name="android-package" value="bguedj.cordova.plugin.didomi.CDVDidomi" />
            </feature>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CDVDidomi.java" target-dir="src/bguedj.cordova.plugin.didomi/Didomi" />
    </platform>
</plugin>